:root {
    --secondary-background-color: #fff;
    --background-color: #ececec;
    --secondary-notselected-background-color: #f6f6f6;
    --element-backgound-color: #f6f6f6;
    --front-color: #000;
    --element-border-color: #ccc;
    --link-color: #2285d5;

    --large-font-size: 1.2rem;
    --medium-font-size: 1rem;
    --small-font-size: 0.8rem;
}

[data-theme="light"] {
    --secondary-background-color: #fff;
    --background-color: #ececec;
    --secondary-notselected-background-color: #f6f6f6;
    --element-backgound-color: #f6f6f6;
    --front-color: #000;
    --element-border-color: #ccc;
    --link-color: #2285d5;
}

[data-theme="dark"] {
    --secondary-background-color: #000;
    --background-color: #191919;
    --secondary-notselected-background-color: #101010;
    --element-backgound-color: #444;
    --front-color: #dfdfdf;
    --element-border-color: #555;
    --link-color: #4baeff;
}

/**********************************************/

* {
    user-select: none;
    transition: background-color 0.3s ease-in-out, color 0.1s ease-in-out;
    box-sizing: content-box;
}

.inputReact {
    background-color: var(--element-backgound-color);
    color: var(--front-color);
    padding: 5px;
    border: 1px solid var(--element-border-color);
    border-radius: 5px;
    font-size: var(--medium-font-size);
}

input[type=file] {
    display: none;
}

Canvas {
    border: 1px solid var(--element-border-color);
}

/**********************************************/

.title {
    font-size: clamp(30px, 5vw, 50px);
}

.PageContainer {
    max-width: 1000px;
    min-width: 300px;
}

.PageSwitchButtonUnselected {
    background-color: var(--secondary-notselected-background-color);
}

.PageSwitchButtonSelected {
    background-color: var(--secondary-background-color);
}

/**********************************************/

#decodeImageUrlInput {
    width: 100px;
}

#decodeThresholdInput {
    width: 50px;
}

/**********************************************/

#innerThresholdRange,
#coverThresholdRange,
#innerContrastRange,
#coverContrastRange {
    max-width: 320px;
}

#innerThresholdInput,
#coverThresholdInput {
    width: 50px;
}

#encodeSizeInput {
    width: 60px;
}

/**********************************************/

#versionRecordTable td {
    padding: 10px;
}