.switchContainer {
    position: fixed;
    left: 10px;
    bottom: 10px;
    display: flex;
    align-items: center;
    padding: 5px 20px;
    cursor: pointer;
    background-color: var(--secondary-background-color);
    border-radius: 40px;
    border: 1px solid var(--element-border-color);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.switchContainer p {
    margin-right: 10px;
    font-size: 1rem;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 22px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switchSlider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 22px;
}

.switchSlider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.switchSlider {
    background-color: #002a6e;
}

input:checked+.switchSlider:before {
    transform: translateX(18px);
}