body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    background-color: #000;
    color: #dfdfdf;
}

input[type=text],
input[type=number],
button,
.fileInputLabel,
select {
    background-color: #333;
    color: #dfdfdf;
    padding: 5px;
    border: 1px solid #555;
    border-radius: 5px;
    font-size: 15px;
}

input[type=file] {
    display: none;
}

button:hover,
.link:hover,
.fileInputLabel:hover,
input[type="checkbox"]:hover {
    transform: scale(1.05);
    transition: transform 0.2s;
}

button:hover,
.fileInputLabel:hover {
    background-color: #444;
}

/**********************************************/

.title {
    font-size: clamp(30px, 5vw, 50px);
}

.PageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    width: 90%;
    max-width: 1000px;
    min-width: 320px;
    padding: 20px;
}

.TitleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 5px;
    width: 100%;
}

.PageSwitchButton {
    background-color: #242424;
    color: #dfdfdf;
    padding: 15px;
    width: 100%;
    border: none;
    border-radius: 10px 10px 0 0;
    font-size: 15px;
}

.PageSwitchButton:hover {
    transform: none;
}

#decodeButton {
    background-color: #242424;
}

#encodeButton {
    background-color: #121212;
}

.DisplayArea {
    background-color: #242424;
    color: #dfdfdf;
    border-radius: 0 0 15px 15px;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    position: relative;
}

#decodePage {
    display: flex;
}

#encodePage {
    display: none;
}

/**********************************************/

#decodeMethodSelect {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

#decodeMethodSelect select {
    margin-left: 5px;
}

#decodeImageSelect {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#decodeFileInput {
    display: flex;
    align-items: center;
}

#decodeFileInput label {
    margin-left: 5px;
}

#decodeUrlInput {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

#decodeUrlInput label {
    margin-right: 5px;
}

#decodeUrlInput input[type=text] {
    margin-right: 5px;
    width: 100px;
}

#decodePasteInput {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

#decodeDragInputHint {
    margin-top: 10px;
}

#decodeCanvas {
    max-width: min(90%, 600px);
    margin-top: 20px;
}

Canvas {
    border: 1px solid #dfdfdf;
}

.thresSlider {
    display: flex;
    max-width: 90%;
    margin-top: 20px;
}

.thresSlider input[type=range] {
    margin-left: 10px;
    width: 300px;
}

.checkbox {
    display: flex;
    max-width: 90%;
}

#decodeReverseCheckbox {
    margin-top: 10px;
}

#saveButton {
    margin-top: 20px;
    margin-bottom: 20px;
}

/**********************************************/

#encodeSourceInput {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 90%;
}

.encodeFileInput {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.fileInputLabel {
    background-color: #333;
    color: #dfdfdf;
    border: 1px solid #555;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.encodeDrag {
    margin-top: 10px;
}

#innerCanvas,
#coverCanvas {
    max-width: min(90%, 400px);
    margin-top: 20px;
}

.encodeSlider {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 90%;
}

.encodeSlider input[type=range] {
    width: 90%;
    max-width: 200px;
}

.thresInput {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.thresInput input {
    width: 50px;
    margin-left: 5px;
}

#isCoverGray,
#isEncodeReverse,
#isPng {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

#encodeOutputSizeLimit {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}

#encodeOutputSizeLimit input[type=number] {
    width: 60px;
    margin-left: 5px;
}

#encodeMethod {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

#encodeMethod select {
    margin-left: 5px;
}

#encodeSizeRange {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#encodeSizeRange input[type=range] {
    width: 200px;
}

#outputCanvas {
    max-width: min(90%, 800px);
    margin-top: 20px;
}

#jumpButton {
    margin-top: 20px;
}

/**********************************************/

a {
    color: #4baeff;
}

.link {
    margin-top: 5px;
    font-size: 18px;
}

#hintLink {
    margin-top: 30px;
}

#privacyButton button {
    margin-top: 5px;
    background-color: #000000;
    color: #4baeff;
    border: 0px solid #555;
    font-size: 14px;
}

#privacyPolicy {
    text-align: center;
    color: #ccc;
    max-width: min(100%, 600px);
    font-size: 12px;
    display: none;
}