:root {
  --sidebar-width: 300px;
  --sidebar-padding: 30px;
}

.sidebarContainer {
  position: fixed;
  top: 0;
  right: 0;
  width: var(--sidebar-width);
  height: 100%;
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.1);
  padding: var(--sidebar-padding);
  z-index: 1000;
  transition: transform 0.5s, background-color 0.3s, border-color 0.3s;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebarHide {
  transform: translateX(calc(var(--sidebar-width) - var(--sidebar-padding)));
}

.sidebarShow {
  transform: translateX(0);
}

.sidebarToggle {
  position: absolute;
  top: 50%;
  left: 0px;
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.1);
  transform: translateY(-50%);
  transform: translateX(-50%);
  width: 40px;
  height: 40px;
  border: 0px solid;
  border-radius: 50%;
  cursor: pointer;
  z-index: 101;
  transition: background-color 0.3s, border-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

#sidebarClearButton {
  margin-top: 10px;
}
